@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}



/******** 全体 *******/
a {
  text-decoration: none;
}


/******** ヘッダー *******/
header {
  background-color: #252B2D;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 10;
}

#header_left {
  width: 69px;
  height: 40px;
  background: url(images/killa_logo.png) no-repeat ;
  margin: 0 20px;
}

#header_inner {
  width: 764px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#header_inner nav ul{
  display: flex;
  justify-content: space-around;
}

#header_inner nav ul a {
  color: white;
  margin-right: 15px;
  font-size: 19px;
  font-family: 'staatliches',cursive;
  transition: 0.3s;

}

#header_inner nav ul a:hover {
  color: #FFE799;
  letter-spacing: 5px;
  transition: 0.3s;
}

.menu_icon {
  width: 40px;
  height: 25x;
  margin: 0 5px;
}

#icon_discord {
  background: url(images/icon_discord.png) no-repeat center center;
  background-size:contain;
}


#icon_twitter {
  background: url(images/icon_twitter.png) no-repeat center center;
  background-size: contain;
}

#icon_instagram {
  background: url(images/icon_instagram.png) no-repeat center center;
  background-size: contain;
}

#icon_opensea {
  background: url(images/icon_opensea.png) no-repeat center center;
  background-size: contain;
}

#dashboard {
  color: white;
  font-size: 20px;
  font-family: 'staatliches',cursive;
  padding: 8px 20px;
  background-color: #4F94CF;
  border: 3px solid #A5D6FF;
  border-radius: 10px;
  transition: 0.3s;
}

#dashboard:hover {
  color: #FECE62;
  font-size: 20px;
  font-family: 'staatliches',cursive;
  padding: 8px 20px;
  background-color: black;
  border: none;
  border-radius: 10px;
  letter-spacing: 3px;
  transition: 0.3s;
}

#book {
  width: auto;
  height: 300px;
  background-color: gray;
}

#intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 35px;
  background-color: #8150B2;
  text-align: center;
}

#intro img {
  display: inline-block;
  margin: 0 auto;
  max-width: 245px;
  border-radius: 20px;
}


#intro #intro_text {
  margin: 0 auto;
  padding: 0 10px;
}

#intro #intro_text h2 {
  font-family: 'Staatliches',cursive;
  font-size: 48px;
  color: white;
  width: auto;
}

#intro #intro_text p {
  font-family: 'patrick hand',cursive;
  font-size: 24px;
  color: #FECE62;
}

#icons {
  height: 120px;
  display: flex;
  justify-content: space-around;
  padding:0 60px;
  background-color: #553377;
  align-items: center;
}

.icons_item {
  display: inline-block;
  width: auto;
  height: 70px;
}

#icons .icons_item p {
  text-align: center;
  font-family: 'patrick hand',cursive;
  font-size: 22px;
  color: white;
}
#icons_discord {
  width: 55px;
  height: 40px;
  background: url(images/icon_discord.png) no-repeat top center;
  background-size : contain;
  margin: 0 auto;
}

#icons_twitter {
  width: 49px;
  height: 40px;
  background: url(images/icon_twitter.png) no-repeat top center;
  background-size: contain;
  margin: 0 auto;
}

#icons_instagram {
  width: 40px;
  height: 40px;
  background: url(images/icon_instagram.png) no-repeat top center;
  background-size: contain;
  margin: 0 auto;
}

#icons_opensea {
  width: 44px;
  height: 40px;
  background: url(images/icon_opensea.png) no-repeat top center;
  background-size: contain;
  margin: 0 auto;
}


#icons_inner p {
  padding-top: 25px;
  text-align: center;
  font-family: 'patrick hand',cursive;
  font-size: 22px;
  color: white;
}


#gallery{
  background-color: #29697A;
}


#gallery #gallery_inner h2 {
  display: inline-block;
  width: 100%;
  height: 72px;
  text-align: center;
  line-height: 72px;
  font-size: 72px;
  color: white;
  font-family: 'staatliches',cursive;
  margin-top: 45px;
  margin-bottom: 20px;
}



#gallery #gallery_inner {
  text-align: center;
}

#gallery #gallery_inner input{
  width: 150px;
  height: 35px;
  border-radius: 8px;
}

#gallery #gallery_inner #btn_go {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: 'staatliches',cursive;
  padding: 4px 10px;
  background-color: #4F94CF;
  border: 3px solid #A5D6FF;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 5px 5px 0 #275371;
  margin-left: 5px;

}


#gallery #gallery_inner #btn_go:hover {
  background-color: black;
  rotate: -5deg;
  transition: 0.3s;
  border: 2px solid #A5D6FF;

}

#gallery_container {
  display: grid;
  grid-template-rows:  245px 245px 245px 245px;
  grid-template-columns:245px 245px;
  /* gap: 10px; */
}

.gleery_image {
display: inline-block;
width: 245px;
height: 245px;
background-color: red;
margin: 10px 10px;
border-radius: 10px;
box-shadow: 5px 5px 0 #153A47;
}



#about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 35px;
  background-color: #D39090  ;
  place-items: center;
}

#about_image {
  text-align: center;
}

#about img {
  max-width: 245px;
  border-radius: 20px;
}


#about #about_text {
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}

#about #about_text h2 {
  font-family: 'Staatliches',cursive;
  font-size: 48px;
  color: #FEFFC8;
  width: auto;
}

#about #about_text p {
  font-family: 'patrick hand',cursive;
  font-size: 24px;
  color: #441633;
}


#team {
  background-color: #5394A4;
}


#team #team_inner h2 {
  display: inline-block;
  width: 100%;
  height: 72px;
  text-align: center;
  line-height: 72px;
  font-size: 72px;
  color: white;
  font-family: 'staatliches',cursive;
  margin-top: 45px;
  margin-bottom: 20px;
}

#team #team_inner {
  text-align: center;
}

#team_container {
  display: grid;
  grid-template-rows:  245px 245px 245px 245px;
  grid-template-columns:245px 245px;
}

.team_image {
display: inline-block;
width: 245px;
height: 245px;
background-color: red;
margin: 10px 10px;
border-radius: 20px;
box-shadow: 5px 5px 0 #153A47;
border: 3px solid white;
object-fit: contain;
}


#faq {
  background-color: #29697A;
}

#faq #faq_inner {
  padding: 25px;
}




#faq #faq_inner h2 {
  display: inline-block;
  width: 100%;
  height: 72px;
  text-align: center;
  line-height: 72px;
  font-size: 72px;
  color: white;
  font-family: 'staatliches',cursive;
  margin-top: 45px;
  margin-bottom: 20px;
}

#faq #faq_inner h3 {
  font-family: 'Staatliches',cursive;
  font-size: 48px;
  color: #FECE62;
  width: auto;
  margin-top: 15px;
}

#faq #faq_inner p {
  font-family: 'patrick hand',cursive;
  font-size: 24px;
  color: #EEEBDE;
}

#footer_inner {
  height: 140px;
  padding: 40px;
  background-color: #252B2D;
  text-align: center;
  color: white;
}



#footer_icon {
  display: inline-block;
  width: 41px;
  height: 30px;
  padding: 20px;
}

#footer_inner #footer_discord {
  width: 41px;
  height: 30px;
  background: url(images/icon_discord.png) no-repeat center center;
  background-size: contain;
  padding: 0 20px;
}

#footer_inner #footer_twitter {
  width: 37px;
  height: 30px;
  background: url(images/icon_twitter.png) no-repeat center center;
  background-size: contain;
  padding: 0 20px;
}

#footer_inner #footer_instagram {
  width: 37px;
  height: 30px;
  background: url(images/icon_instagram.png) no-repeat center center;
  background-size: contain;
  padding: 0 20px;
}

#footer_inner #footer_opensea {
  width: 37px;
  height: 30px;
  background: url(images/icon_opensea.png) no-repeat center center;
  background-size: contain;
  padding: 0 20px;
}

footer #footer_inner p,a {
  font-family: 'patrick hand',cursive;
  font-size: 19px;
  color: white;
}
